@tailwind base;
@tailwind components;
@tailwind utilities;
.page1 {
    background: conic-gradient(from 180deg at 50% 50%, #4870FF 0deg, #42FFB0 153.75deg, #DC2A2A 360deg);
}
.navbar{
    background: rgba(255, 255, 255, 0.3);
}
.logo{

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.top_shadow{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.73%, rgba(17, 17, 17, 0.9) 99.98%, rgba(5, 5, 5, 0.01875) 99.99%, rgba(0, 0, 0, 0.9) 100%);
transform: rotate(-180deg);
}
.head{
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 58px;

color: #000000;

mix-blend-mode: overlay;

text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}
.smallhead{
    font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 15px;
line-height: 18px;

color: rgba(255, 255, 255, 0.7);
}

.bottom_shadow{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.73%, #111111 99.98%, rgba(5, 5, 5, 0.0208333) 99.99%, #000000 100%);
}